# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Ignore all assets except scripts
[Aa]ssets/*
![Aa]ssets/Scripts/
![Aa]ssets/Scripts/**

# Keep .meta files for scripts
![Aa]ssets/Scripts.meta
![Aa]ssets/Scripts/**/*.meta

# Visual Studio files
.vs/
*.csproj
*.sln
*.suo